
body{
    height:100vh;
    background: linear-gradient(to right, #8ec5d6, #cfd9df);
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: Arial, sans-serif;
}


h2{
    text-align:center;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #d4a6a6;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    background:#2f8f88;
    color:#ffffff;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size: 40px;
}
.submit{
    color:white;
    font-size: 30px;
    text-decoration: none;
}
button:hover{
    background:#267872;
}
.form{
    width:400px;
    background:#fff;
    padding:40px;
    border-radius:8px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

