
body{
    height:150vh;
    background: linear-gradient(to right, #8ec5d6, #cfd9df);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-family: Arial, sans-serif;
}

.container{
    width:400px;
    background:#fff;
    padding:40px;
    border-radius:8px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}


#gender{
width:100%;
padding:12px;
margin:10px 0;
border-radius:5px;
border:1px solid #ccc;
}
.headerimg{
    display: flex;
    justify-content: space-between;
}
#image1{
    margin-right: 50%;
}